In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

from talib.abstract import *
import pandas as pd
import os
import numpy as np

from pythainlp.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, accuracy_score
from sklearn import preprocessing

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

from jupyterthemes import jtplot
jtplot.style()

import plotly.graph_objs as go
from datetime import datetime, timedelta
from tqdm import tqdm_notebook
import matplotlib.pyplot as plt
% matplotlib inline

target_stocks = ['BANPU','IRPC','PTT','BBL','KBANK','SCB','AOT','THAI','CPF','MINT',
                 'TU','SCC','CPN','CK','CPALL','HMPRO','BDMS','BH','ADVANC','JAS','TRUE']

In [2]:
df_price = pd.read_csv('merged_2014_2017.csv')
df_price['Date'] = pd.to_datetime(df_price['Date'], format='%Y-%m-%d')
df_price = df_price.loc[df_price['Ticker'].isin(target_stocks)]
df_price['Date'] = df_price['Date'].dt.date
df_price = df_price.set_index('Date')
df_price.head(3)
len(df_price)

            Ticker   Open    High    Low  Close    Volume
Date
2014-01-02  ADVANC  198.0  198.50  187.0  187.0  12694200
2014-01-02     AOT  160.5  160.50  146.5  146.5   6963700
2014-01-02   BANPU   30.0   30.25   28.0   28.0  13054500

20494

In [86]:
def lag_construction(data, t_in=3, t_out=1):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()
    
    for i in range(t_in-1, 0, -1): # input sequence (t-n, ... t-1)
        cols.append(df.shift(i))
        names += [('v%d(t-%d)' % (j+1, i)) for j in range(n_vars)]    
    
    for i in range(0, t_out+1): # forecast sequence (t, t+1, ... t+n)
        cols.append(df.shift(-i))
        if i == 0: names += [('v%d(t)' % (j+1)) for j in range(n_vars)]
        else: names += [('v%d(t+%d)' % (j+1, i)) for j in range(n_vars)]

    conbined = pd.concat(cols, axis=1) # put it all together
    conbined.columns = names
    
    conbined.dropna(inplace = True)
    
    return conbined

# Lag & Horizon Construction

## Merge duplication Date Index

In [87]:
df_train = []
df_test = []
for stock in tqdm_notebook(target_stocks):
    news_stocks = []
    df_stock = df_price.loc[df_price['Ticker'] == stock]

    df_stock = lag_construction(df_stock)
    
    
    df_stock = df_stock.drop([ # 'v1(t-4)',
                               # 'v1(t-3)',
                                'v1(t-2)',
                                'v1(t-1)',
                                'v1(t+1)','v2(t+1)','v3(t+1)','v4(t+1)','v6(t+1)',
                               ],axis=1)
    
    
    train_size = int(len(df_stock) * 0.80)
    test_size = len(df_stock) - train_size
    train, test = df_stock.iloc[:train_size], df_stock.iloc[train_size:]
    print(stock, ':\t',len(train), len(test))    
    df_train.append(train)
    df_test.append(test)

df_train = pd.concat(df_train, axis=0)
df_test = pd.concat(df_test, axis=0)

len(df_train), len(df_test) 
df_train.head(1)
df_test.head(1)

BANPU :	 778 195
IRPC :	 778 195
PTT :	 778 195
BBL :	 778 195
KBANK :	 778 195
SCB :	 778 195
AOT :	 778 195
THAI :	 778 195
CPF :	 778 195
MINT :	 778 195
TU :	 778 195
SCC :	 778 195
CPN :	 778 195
CK :	 778 195
CPALL :	 778 195
HMPRO :	 778 195
BDMS :	 778 195
BH :	 778 195
ADVANC :	 778 195
JAS :	 776 195
TRUE :	 778 195

(16336, 4095)

,v2(t-2),v3(t-2),v4(t-2),v5(t-2),v6(t-2),v2(t-1),v3(t-1),v4(t-1),v5(t-1),v6(t-1),v1(t),v2(t),v3(t),v4(t),v5(t),v6(t),v5(t+1)
Date,,,,,,,,,,,,,,,,,
2014-01-06,30.0,30.25,28.0,28.0,13054500.0,27.5,28.25,26.5,26.5,27140500.0,BANPU,26.0,26.25,24.8,25.25,33017900,26.0

,v2(t-2),v3(t-2),v4(t-2),v5(t-2),v6(t-2),v2(t-1),v3(t-1),v4(t-1),v5(t-1),v6(t-1),v1(t),v2(t),v3(t),v4(t),v5(t),v6(t),v5(t+1)
Date,,,,,,,,,,,,,,,,,
2017-03-14,19.5,19.6,18.9,19.0,55888700.0,19.0,19.1,18.8,18.8,37337600.0,BANPU,18.8,19.4,18.8,19.2,56535000,19.1

# Label Encoding

In [88]:
le = preprocessing.LabelEncoder()

df_train['v1(t)'] = le.fit_transform(df_train['v1(t)'])
df_test['v1(t)'] = le.transform(df_test['v1(t)'])

df_train.head(2)
df_test.head(2)

le.classes_

,v2(t-2),v3(t-2),v4(t-2),v5(t-2),v6(t-2),v2(t-1),v3(t-1),v4(t-1),v5(t-1),v6(t-1),v1(t),v2(t),v3(t),v4(t),v5(t),v6(t),v5(t+1)
Date,,,,,,,,,,,,,,,,,
2014-01-06,30.0,30.25,28.0,28.0,13054500.0,27.5,28.25,26.5,26.50,27140500.0,2,26.0,26.25,24.8,25.25,33017900,26.0
2014-01-07,27.5,28.25,26.5,26.5,27140500.0,26.0,26.25,24.8,25.25,33017900.0,2,25.0,26.50,25.0,26.00,20210800,26.5

,v2(t-2),v3(t-2),v4(t-2),v5(t-2),v6(t-2),v2(t-1),v3(t-1),v4(t-1),v5(t-1),v6(t-1),v1(t),v2(t),v3(t),v4(t),v5(t),v6(t),v5(t+1)
Date,,,,,,,,,,,,,,,,,
2017-03-14,19.5,19.6,18.9,19.0,55888700.0,19.0,19.1,18.8,18.8,37337600.0,2,18.8,19.4,18.8,19.2,56535000,19.1
2017-03-15,19.0,19.1,18.8,18.8,37337600.0,18.8,19.4,18.8,19.2,56535000.0,2,19.2,19.3,18.9,19.1,17643400,19.5

array(['ADVANC', 'AOT', 'BANPU', 'BBL', 'BDMS', 'BH', 'CK', 'CPALL',
       'CPF', 'CPN', 'HMPRO', 'IRPC', 'JAS', 'KBANK', 'MINT', 'PTT',
       'SCB', 'SCC', 'THAI', 'TRUE', 'TU'], dtype=object)

# Create x_train and y_train

In [89]:
y_train = df_train['v5(t+1)'].values

df_train = df_train.drop('v5(t+1)', axis=1)
x_train = df_train.as_matrix()

x_train.shape, y_train.shape

((16336, 16), (16336,))

# Evaluate Each Stcok

In [90]:
def evaluator(clf, df_test, le):
    RMSEs, MAEs, DAs = [], [], []
    results = []
    for stock in target_stocks:
        x_tmp = df_test.loc[df_test['v1(t)'] == le.transform([stock])[0]].copy()

        y_tmp = x_tmp['v5(t+1)'].values
        
        # Directional Accuracy
        changes = x_tmp['v5(t+1)'] -  x_tmp['v5(t)']
        y_true_da = []
        for change in changes:
            y_true_da.append(1 if change >= 0 else 0)
                
        x_tmp = x_tmp.drop('v5(t+1)', axis=1)
        
        y_pred = clf.predict(x_tmp.as_matrix())
        
        # Directional Accuracy Pred
        changes = y_pred -  x_tmp['v5(t)']
        y_pred_da = []
        for change in changes:
            y_pred_da.append(1 if change >= 0 else 0)
            
        RMSE = np.sqrt(mean_squared_error(y_tmp, y_pred))
        MAE = mean_absolute_error(y_tmp, y_pred)
        DA = accuracy_score(y_true_da, y_pred_da)
        print(stock, "\tRMSE: %.2f\t MAE: %.2f \tDA: %.2f" % (RMSE, MAE, DA))
        RMSEs.append(RMSE)
        MAEs.append(MAE)
        DAs.append(DA)
    
    print('\nmean RMSE:', round(np.mean(RMSEs),2))
    print('mean MAE:', round(np.mean(MAEs),2))
    print('mean DA:', round(np.mean(DAs),4))

# Linear Regression

In [93]:
from sklearn import linear_model

lineregr = linear_model.LinearRegression()
lineregr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [94]:
evaluator(lineregr, df_test, le)

BANPU 	RMSE: 0.26	 MAE: 0.17 	DA: 0.53
IRPC 	RMSE: 0.09	 MAE: 0.07 	DA: 0.67
PTT 	RMSE: 3.52	 MAE: 2.68 	DA: 0.50
BBL 	RMSE: 1.59	 MAE: 1.18 	DA: 0.44
KBANK 	RMSE: 2.28	 MAE: 1.71 	DA: 0.55
SCB 	RMSE: 1.34	 MAE: 1.05 	DA: 0.50
AOT 	RMSE: 0.72	 MAE: 0.53 	DA: 0.45
THAI 	RMSE: 0.42	 MAE: 0.27 	DA: 0.55
CPF 	RMSE: 0.35	 MAE: 0.26 	DA: 0.58
MINT 	RMSE: 0.53	 MAE: 0.40 	DA: 0.65
TU 	RMSE: 0.26	 MAE: 0.19 	DA: 0.57
SCC 	RMSE: 4.33	 MAE: 3.35 	DA: 0.57
CPN 	RMSE: 0.98	 MAE: 0.73 	DA: 0.52
CK 	RMSE: 0.33	 MAE: 0.25 	DA: 0.63
CPALL 	RMSE: 0.61	 MAE: 0.42 	DA: 0.45
HMPRO 	RMSE: 0.18	 MAE: 0.12 	DA: 0.62
BDMS 	RMSE: 0.24	 MAE: 0.17 	DA: 0.54
BH 	RMSE: 2.77	 MAE: 1.92 	DA: 0.50
ADVANC 	RMSE: 1.86	 MAE: 1.39 	DA: 0.46
JAS 	RMSE: 0.13	 MAE: 0.09 	DA: 0.59
TRUE 	RMSE: 0.11	 MAE: 0.09 	DA: 0.62

mean RMSE: 1.09
mean MAE: 0.81
mean DA: 0.5463

# Support Vector Regressor

In [71]:
from sklearn.svm import SVR
svr = SVR()
svr.fit(x_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [72]:
evaluator(svr, df_test, le)

BANPU 	RMSE: 20.58	 MAE: 20.54 	DA: 0.62
IRPC 	RMSE: 32.57	 MAE: 32.56 	DA: 0.66
PTT 	RMSE: 362.66	 MAE: 362.20 	DA: 0.41
BBL 	RMSE: 148.81	 MAE: 148.61 	DA: 0.37
KBANK 	RMSE: 165.62	 MAE: 164.99 	DA: 0.38
SCB 	RMSE: 114.31	 MAE: 114.20 	DA: 0.42
AOT 	RMSE: 15.40	 MAE: 13.01 	DA: 0.32
THAI 	RMSE: 20.01	 MAE: 19.98 	DA: 0.54
CPF 	RMSE: 12.54	 MAE: 12.48 	DA: 0.58
MINT 	RMSE: 3.01	 MAE: 2.53 	DA: 0.46
TU 	RMSE: 18.31	 MAE: 18.28 	DA: 0.57
SCC 	RMSE: 467.40	 MAE: 466.97 	DA: 0.47
CPN 	RMSE: 33.51	 MAE: 32.43 	DA: 0.42
CK 	RMSE: 10.83	 MAE: 10.79 	DA: 0.62
CPALL 	RMSE: 27.40	 MAE: 26.87 	DA: 0.29
HMPRO 	RMSE: 27.62	 MAE: 27.58 	DA: 0.64
BDMS 	RMSE: 18.03	 MAE: 18.00 	DA: 0.57
BH 	RMSE: 155.00	 MAE: 154.04 	DA: 0.43
ADVANC 	RMSE: 144.36	 MAE: 144.19 	DA: 0.38
JAS 	RMSE: 30.36	 MAE: 30.35 	DA: 0.59
TRUE 	RMSE: 32.26	 MAE: 32.26 	DA: 0.62

mean RMSE: 88.6
mean MAE: 88.23
mean DA: 0.4927

# Decistion Tree Regressor

In [73]:
from sklearn import tree

In [74]:
decis_tree_regr = tree.DecisionTreeRegressor()
decis_tree_regr.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [75]:
evaluator(decis_tree_regr, df_test, le)

BANPU 	RMSE: 0.62	 MAE: 0.48 	DA: 0.52
IRPC 	RMSE: 0.20	 MAE: 0.15 	DA: 0.46
PTT 	RMSE: 54.68	 MAE: 13.56 	DA: 0.51
BBL 	RMSE: 2.94	 MAE: 2.13 	DA: 0.53
KBANK 	RMSE: 3.52	 MAE: 2.74 	DA: 0.52
SCB 	RMSE: 2.28	 MAE: 1.73 	DA: 0.56
AOT 	RMSE: 1.29	 MAE: 0.98 	DA: 0.51
THAI 	RMSE: 0.85	 MAE: 0.47 	DA: 0.51
CPF 	RMSE: 0.55	 MAE: 0.42 	DA: 0.53
MINT 	RMSE: 0.90	 MAE: 0.70 	DA: 0.52
TU 	RMSE: 0.43	 MAE: 0.33 	DA: 0.53
SCC 	RMSE: 8.54	 MAE: 6.15 	DA: 0.56
CPN 	RMSE: 2.20	 MAE: 1.62 	DA: 0.55
CK 	RMSE: 0.63	 MAE: 0.46 	DA: 0.54
CPALL 	RMSE: 1.86	 MAE: 1.32 	DA: 0.51
HMPRO 	RMSE: 0.31	 MAE: 0.21 	DA: 0.53
BDMS 	RMSE: 0.44	 MAE: 0.32 	DA: 0.56
BH 	RMSE: 4.22	 MAE: 3.29 	DA: 0.54
ADVANC 	RMSE: 6.56	 MAE: 3.90 	DA: 0.56
JAS 	RMSE: 0.22	 MAE: 0.17 	DA: 0.47
TRUE 	RMSE: 0.21	 MAE: 0.16 	DA: 0.47

mean RMSE: 4.45
mean MAE: 1.97
mean DA: 0.5229

# Random Forest Regrssor

In [76]:
from sklearn import ensemble

rnd_forest_regr = ensemble.RandomForestRegressor(n_jobs=-1)
rnd_forest_regr.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [77]:
evaluator(rnd_forest_regr, df_test, le)

BANPU 	RMSE: 0.33	 MAE: 0.24 	DA: 0.55
IRPC 	RMSE: 0.11	 MAE: 0.09 	DA: 0.47
PTT 	RMSE: 11.08	 MAE: 4.61 	DA: 0.52
BBL 	RMSE: 1.87	 MAE: 1.43 	DA: 0.50
KBANK 	RMSE: 2.67	 MAE: 2.08 	DA: 0.51
SCB 	RMSE: 1.48	 MAE: 1.19 	DA: 0.58
AOT 	RMSE: 0.96	 MAE: 0.74 	DA: 0.54
THAI 	RMSE: 0.54	 MAE: 0.33 	DA: 0.50
CPF 	RMSE: 0.43	 MAE: 0.34 	DA: 0.48
MINT 	RMSE: 0.61	 MAE: 0.48 	DA: 0.54
TU 	RMSE: 0.32	 MAE: 0.23 	DA: 0.49
SCC 	RMSE: 5.88	 MAE: 4.62 	DA: 0.57
CPN 	RMSE: 1.66	 MAE: 1.25 	DA: 0.49
CK 	RMSE: 0.39	 MAE: 0.31 	DA: 0.54
CPALL 	RMSE: 1.24	 MAE: 0.87 	DA: 0.49
HMPRO 	RMSE: 0.21	 MAE: 0.14 	DA: 0.53
BDMS 	RMSE: 0.27	 MAE: 0.20 	DA: 0.51
BH 	RMSE: 3.19	 MAE: 2.31 	DA: 0.55
ADVANC 	RMSE: 3.88	 MAE: 2.38 	DA: 0.51
JAS 	RMSE: 0.14	 MAE: 0.11 	DA: 0.52
TRUE 	RMSE: 0.13	 MAE: 0.10 	DA: 0.53

mean RMSE: 1.78
mean MAE: 1.15
mean DA: 0.521

# AdaBoost Regressor

In [78]:
adaboost_dt_regr = ensemble.AdaBoostRegressor(base_estimator=tree.DecisionTreeRegressor(),
                                           learning_rate=1, 
                                           n_estimators=50, 
                                           loss='linear')
adaboost_dt_regr.fit(x_train, y_train)

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best'),
         learning_rate=1, loss='linear', n_estimators=50,
         random_state=None)

In [79]:
adaboost_rf_regr = ensemble.AdaBoostRegressor(base_estimator=ensemble.RandomForestRegressor(n_jobs=-1),
                                           learning_rate=1, 
                                           n_estimators=50, 
                                           loss='linear')
adaboost_rf_regr.fit(x_train, y_train)

AdaBoostRegressor(base_estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
         learning_rate=1, loss='linear', n_estimators=50,
         random_state=None)

In [80]:
evaluator(adaboost_dt_regr, df_test, le)

BANPU 	RMSE: 0.34	 MAE: 0.26 	DA: 0.62
IRPC 	RMSE: 0.10	 MAE: 0.08 	DA: 0.54
PTT 	RMSE: 5.16	 MAE: 3.89 	DA: 0.55
BBL 	RMSE: 1.68	 MAE: 1.27 	DA: 0.58
KBANK 	RMSE: 2.46	 MAE: 1.90 	DA: 0.59
SCB 	RMSE: 1.49	 MAE: 1.17 	DA: 0.56
AOT 	RMSE: 0.98	 MAE: 0.69 	DA: 0.61
THAI 	RMSE: 0.49	 MAE: 0.30 	DA: 0.54
CPF 	RMSE: 0.39	 MAE: 0.29 	DA: 0.58
MINT 	RMSE: 0.59	 MAE: 0.45 	DA: 0.57
TU 	RMSE: 0.28	 MAE: 0.20 	DA: 0.55
SCC 	RMSE: 6.01	 MAE: 4.53 	DA: 0.55
CPN 	RMSE: 1.55	 MAE: 1.16 	DA: 0.53
CK 	RMSE: 0.37	 MAE: 0.26 	DA: 0.63
CPALL 	RMSE: 1.23	 MAE: 0.83 	DA: 0.52
HMPRO 	RMSE: 0.19	 MAE: 0.13 	DA: 0.64
BDMS 	RMSE: 0.25	 MAE: 0.19 	DA: 0.56
BH 	RMSE: 3.19	 MAE: 2.28 	DA: 0.52
ADVANC 	RMSE: 2.14	 MAE: 1.64 	DA: 0.50
JAS 	RMSE: 0.13	 MAE: 0.10 	DA: 0.48
TRUE 	RMSE: 0.11	 MAE: 0.08 	DA: 0.55

mean RMSE: 1.39
mean MAE: 1.03
mean DA: 0.5613

In [81]:
evaluator(adaboost_rf_regr, df_test, le)

BANPU 	RMSE: 0.31	 MAE: 0.22 	DA: 0.65
IRPC 	RMSE: 0.10	 MAE: 0.08 	DA: 0.44
PTT 	RMSE: 15.29	 MAE: 5.49 	DA: 0.52
BBL 	RMSE: 1.62	 MAE: 1.23 	DA: 0.55
KBANK 	RMSE: 2.39	 MAE: 1.80 	DA: 0.58
SCB 	RMSE: 1.40	 MAE: 1.11 	DA: 0.55
AOT 	RMSE: 0.96	 MAE: 0.71 	DA: 0.61
THAI 	RMSE: 0.46	 MAE: 0.29 	DA: 0.55
CPF 	RMSE: 0.39	 MAE: 0.30 	DA: 0.55
MINT 	RMSE: 0.55	 MAE: 0.42 	DA: 0.58
TU 	RMSE: 0.28	 MAE: 0.20 	DA: 0.54
SCC 	RMSE: 5.72	 MAE: 4.51 	DA: 0.55
CPN 	RMSE: 1.46	 MAE: 1.10 	DA: 0.49
CK 	RMSE: 0.35	 MAE: 0.27 	DA: 0.54
CPALL 	RMSE: 1.09	 MAE: 0.78 	DA: 0.46
HMPRO 	RMSE: 0.18	 MAE: 0.13 	DA: 0.61
BDMS 	RMSE: 0.25	 MAE: 0.19 	DA: 0.54
BH 	RMSE: 2.95	 MAE: 2.13 	DA: 0.53
ADVANC 	RMSE: 2.09	 MAE: 1.59 	DA: 0.51
JAS 	RMSE: 0.13	 MAE: 0.10 	DA: 0.53
TRUE 	RMSE: 0.12	 MAE: 0.09 	DA: 0.57

mean RMSE: 1.81
mean MAE: 1.08
mean DA: 0.5445

# Gradient Boosting Regressor

In [95]:
gbr = ensemble.GradientBoostingRegressor(n_estimators=100, 
                                         learning_rate=0.1,
                                         max_depth=6,
                                         min_samples_split=2,
                                         loss='ls'
                                        )
gbr.fit(x_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=6, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [96]:
evaluator(gbr, df_test, le)

BANPU 	RMSE: 0.29	 MAE: 0.22 	DA: 0.60
IRPC 	RMSE: 0.12	 MAE: 0.09 	DA: 0.58
PTT 	RMSE: 11.91	 MAE: 6.12 	DA: 0.51
BBL 	RMSE: 1.65	 MAE: 1.21 	DA: 0.57
KBANK 	RMSE: 2.38	 MAE: 1.80 	DA: 0.52
SCB 	RMSE: 1.40	 MAE: 1.12 	DA: 0.52
AOT 	RMSE: 0.85	 MAE: 0.60 	DA: 0.57
THAI 	RMSE: 0.43	 MAE: 0.28 	DA: 0.54
CPF 	RMSE: 0.35	 MAE: 0.26 	DA: 0.57
MINT 	RMSE: 0.58	 MAE: 0.45 	DA: 0.47
TU 	RMSE: 0.27	 MAE: 0.19 	DA: 0.54
SCC 	RMSE: 5.16	 MAE: 4.06 	DA: 0.53
CPN 	RMSE: 1.60	 MAE: 1.27 	DA: 0.49
CK 	RMSE: 0.34	 MAE: 0.27 	DA: 0.53
CPALL 	RMSE: 1.30	 MAE: 0.94 	DA: 0.39
HMPRO 	RMSE: 0.20	 MAE: 0.14 	DA: 0.54
BDMS 	RMSE: 0.24	 MAE: 0.18 	DA: 0.55
BH 	RMSE: 2.88	 MAE: 2.04 	DA: 0.46
ADVANC 	RMSE: 1.95	 MAE: 1.48 	DA: 0.47
JAS 	RMSE: 0.13	 MAE: 0.10 	DA: 0.60
TRUE 	RMSE: 0.14	 MAE: 0.11 	DA: 0.51

mean RMSE: 1.63
mean MAE: 1.09
mean DA: 0.5272

# XGBoost Regressor

In [107]:
import xgboost

In [110]:
d_train = xgb.DMatrix(x_train, label=y_train)
# d_valid = xgb.DMatrix(x_test, label=y_test)

AttributeError: 'XGBRegressor' object has no attribute 'DMatrix'

In [109]:
params = {
    'max_depth': 5,
    'learning_rate': 0.1,
    'n_estimators':100,
    'subsample': 0.80,
    'objective': 'reg:linear',
    'eval_metric': 'logloss',
    'reg_lambda': 0.8,   
    'reg_alpha': 0.4, 
    'silent': 1,
    'n_jobs':8
}
xgb = xgboost.XGBRegressor(params)